.link:hover {
  color: white !important;
}

.wrapper--hidden,
.button--hidden {
  display: none;
}

.hover-danger:hover {
  color: red !important;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
/* 
@media screen and (min-width: 900px) {
  .custom-border {
    border-color: rgb(255, 255, 255) !important;
    border-width: thin;
    border-radius: 10px;
  }
} */
